# ==========================================================
# Copyright (c) 2026 ArtistBots
# All Rights Reserved.
#
# Project      : ArtistBots API Telegram Music Bot
# Powered By   : Artist
# Type         : API Based Telegram Music Bot
#
# Bot          : @ArtistApibot
# Channel      : https://t.me/artistbots
# GitHub       : https://github.com/elevenyts
#
# Unauthorized copying, modification, or redistribution
# of this source code without permission is prohibited.
# ==========================================================
API_ID=21174433
API_HASH=8b975cfb582425fd6e3dff56636152a4
BOT_TOKEN=8502903326:AAE3HFTcg80oVMkhnlMw4uWmFlonzXHT6_Y
LOGGER_ID=-1003705552784
MONGO_DB_URI=mongodb+srv://Elevenyts:Elevenyts@cluster0.vuyc1u2.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID=8512461438
STRING_SESSION=BQIyPdIAXRjYfVWSyAKVXrndJdny9cENCPStgGJGcBiTE_XnQHba3m9gYjiEwoXzjtyjxpkoApa_jvKgrbJLriT0x2SBp1jaZ5XlQkKMDXRQqMgMXpIzVGVm6PpGmNzbIpuMg4SVWTZnQRJboYVjbH7aloeE7WutuJMUB7qoOgRXCp-NOqNVYH0QFv_SIDspzXKyWN61zetffAfPGWhAATv1s73QcafWjnfjwoaVohk_IQo49FgUZDaIwRVLEZR4DW1TYgR5B_l7qZdkciprqrChERn_0HaLK_-dCl-by3h5Co6PaiW-4XCt8i6KMhC4qUBBqngW8CVB1RI88LJRe0icQGg_lQAAAAHzvcHfAA

ARTISTBOTS_API_URL=https://artistbots.onrender.com
ARTISTBOTS_KEY=ArtistbotsRolVsjaQK5styjSGbPFGDR
